.filter{
    position: relative;
    padding-top: 3%;
    padding-bottom: 5%;
    margin: 8%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}

h2{
    text-align: center;
}

.button-filter{
    color: #6318b9;
}

.buttons-container{
    padding-top: 6%;
    padding-left:1%;
    padding-right: 1%;
    color: #6318b9;
}
